In [1]:
from ani2x import get_pdb_df, get_df_gen
import pandas as pd

In [2]:
df_gen = get_df_gen()

In [3]:
df_gen

,Resolution,Release Year,pK,Binding Type,Binding Symbol,Refined,R-factor,R-free,delta-R,ID
PDB_ID,,,,,,,,,,
3ZZF,2.20,2012,0.40,Ki,=,False,0.181,0.218,0.037,1
3GWW,2.46,2009,0.45,IC50,=,False,0.205,0.226,0.021,2
1W8L,1.80,2004,0.49,Ki,=,False,0.179,0.230,0.051,3
3FQA,2.35,2009,0.49,IC50,=,False,0.208,0.241,0.033,4
1ZSB,2.00,1996,0.60,Kd,=,False,0.164,-1.000,-1.000,5
...,...,...,...,...,...,...,...,...,...,...
7CPA,2.00,1994,13.96,Ki,=,False,0.189,-1.000,-1.000,19439
2XUF,2.55,2010,14.39,Kd,=,False,0.191,0.221,0.029,19440
1AVD,2.70,1994,15.00,Kd,=,False,0.174,-1.000,-1.000,19441
2XUI,2.60,2010,15.00,Kd,=,False,0.192,0.235,0.042,19442
2AVI,3.00,1993,15.22,Kd,=,False,0.151,-1.000,-1.000,19443

In [4]:
df_hetatm = get_pdb_df(atom_kind='hetatm', df_gen=df_gen, file_type='protein')
df_protein = get_pdb_df(atom_kind='protein', df_gen=df_gen, file_type='protein')

In [5]:
df_hetatm

,atom_number,residue_name,x_coord,y_coord,z_coord,occupancy,b_factor,element_symbol,PDB_ID,atom_kind
0,18199,HG,11.593,38.774,26.202,0.70,33.00,Hg,3ZZF,H
1,18200,HG,14.270,22.423,2.199,0.40,41.22,Hg,3ZZF,H
2,18201,HG,3.556,-1.139,30.818,0.40,44.93,Hg,3ZZF,H
3,18202,HG,-13.639,13.418,13.179,0.50,39.48,Hg,3ZZF,H
4,18203,HG,24.444,0.412,50.836,0.75,36.30,Hg,3ZZF,H
...,...,...,...,...,...,...,...,...,...,...
143,7644,HOH,-15.128,28.178,27.681,1.00,31.70,O,2AVI,H
144,7645,HOH,-24.826,50.073,-0.684,1.00,20.80,O,2AVI,H
145,7646,HOH,-25.916,42.597,0.409,1.00,30.73,O,2AVI,H
146,7647,HOH,-10.959,50.663,8.145,1.00,33.95,O,2AVI,H
147,7648,HOH,-9.467,45.087,18.821,1.00,29.78,O,2AVI,H

In [7]:
df_protein.rename(columns={'element_symbol': 'element', 'residue_name': 'molecule_name',
                'x_coord': 'x', 'y_coord': 'y', 'z_coord': 'z'}, inplace=True)
df_hetatm.rename(columns={'element_symbol': 'element', 'residue_name': 'molecule_name',
                'x_coord': 'x', 'y_coord': 'y', 'z_coord': 'z'}, inplace=True)
df_protein = df_protein.astype({'x': 'float32', 'y': 'float32', 'z': 'float32'})
df_hetatm = df_hetatm.astype({'x': 'float32', 'y': 'float32', 'z': 'float32'})

In [10]:
df_bind = pd.concat([df_protein, df_hetatm])
df_bind = df_bind[df_bind.PDB_ID != '2W73']
df_bind.sort_values(by=['PDB_ID', 'atom_kind', 'atom_number'], inplace=True)

In [12]:
df_bind.shape[0] * 1e-6

120.231563

In [13]:
df_pocket = pd.read_csv('../Data/pdbbind_pocket.csv')

In [19]:
df_bind

,atom_number,molecule_name,x,y,z,occupancy,b_factor,blank_4,element,PDB_ID,atom_kind
0,6527,HOH,16.856001,5.713,8.800000,1.0,16.93,NaN,O,10GS,H
1,6528,HOH,24.864000,12.790,14.954000,1.0,15.27,NaN,O,10GS,H
2,6529,HOH,19.222000,10.125,22.641001,1.0,14.60,NaN,O,10GS,H
3,6530,HOH,17.993999,-5.269,27.742001,1.0,26.25,NaN,O,10GS,H
4,6531,HOH,14.836000,11.499,17.763000,1.0,45.60,NaN,O,10GS,H
...,...,...,...,...,...,...,...,...,...,...,...
2749,2750,GLY,39.798000,18.118,9.221000,1.0,0.00,,H,9LPR,P
2750,2751,GLY,38.682999,19.056,8.201000,1.0,0.00,,H,9LPR,P
2751,2752,GLY,40.573002,20.032,8.583000,1.0,12.68,,C,9LPR,P
2752,2753,GLY,40.845001,19.837,7.383000,1.0,15.30,,O,9LPR,P
2753,2754,GLY,41.155998,20.837,9.341000,1.0,14.22,,O,9LPR,P

In [63]:
df_bind[df_bind.atom_kind == 'P'].element.unique()

array(['N', 'C', 'H', 'O', 'S', ''], dtype=object)

In [64]:
df_bind[df_bind.atom_kind == 'P'].molecule_name.unique().tolist()

['PRO',
 'TYR',
 'THR',
 'VAL',
 'PHE',
 'ARG',
 'GLY',
 'CYS',
 'ALA',
 'LEU',
 'MET',
 'ASP',
 'GLN',
 'SER',
 'TRP',
 'LYS',
 'GLU',
 'ASN',
 'ILE',
 'HIS']

In [62]:
df_bind.element.unique()

array(['O', 'N', 'C', 'H', 'S', 'Zn', 'Ca', 'Hg', '', 'Mg', 'Au', 'Mn',
       'P', 'Se', 'Cd', 'Na', 'Cu', 'Co', 'Ni', 'Fe', 'K', 'In', 'Ga',
       'Sr', 'Ba', 'Cs', 'Li', 'Rb'], dtype=object)

In [55]:
pdb = '1AQC'
dfbs = df_bind[df_bind.PDB_ID == pdb]
dfps = df_pocket[df_pocket.PDB_ID == pdb]

In [ ]:
# Restrict df_protein to within 10 Angstroms
# Then,

In [61]:
dfps[['element', 'x', 'y', 'z']].to_numpy()

array([['N', 47.39, 5.122, 62.183],
       ['H', 47.42, 4.529, 61.329],
       ['C', 47.577, 6.566, 62.06],
       ...,
       ['N', 48.941, 8.22, 57.103],
       ['H', 49.771, 7.632, 56.886],
       ['H', 49.067, 9.214, 57.382]], dtype=object)

In [57]:
dfps[dfps.element == 'Se']

,atom_number,x,y,z,molecule_name,PDB_ID,atom_kind,element,b_factor
54195,89,50.409,8.500,61.923,MSE,1AQC,H,Se,46.62
54204,256,46.090,2.569,69.965,MSE,1AQC,H,Se,38.60
54213,334,44.389,-1.196,72.645,MSE,1AQC,H,Se,45.90

In [56]:
dfbs[dfbs.element == 'Se']

,atom_number,molecule_name,x,y,z,occupancy,b_factor,blank_4,element,PDB_ID,atom_kind
14,15,MSE,75.814003,11.876000,79.264000,1.0,38.18,NaN,Se,1AQC,H
31,489,MSE,50.409000,8.500000,61.923000,1.0,46.62,NaN,Se,1AQC,H
48,506,MSE,41.629002,5.550000,58.151001,1.0,32.08,NaN,Se,1AQC,H
65,684,MSE,35.188999,19.566999,65.778000,1.0,90.71,NaN,Se,1AQC,H
84,748,MSE,47.425999,24.885000,75.518997,1.0,96.52,NaN,Se,1AQC,H
101,1126,MSE,48.902000,14.891000,88.640999,1.0,80.20,NaN,Se,1AQC,H
118,1143,MSE,48.547001,10.303000,81.421997,1.0,39.92,NaN,Se,1AQC,H
135,1461,MSE,46.090000,2.569000,69.964996,1.0,38.60,NaN,Se,1AQC,H
152,1590,MSE,44.389000,-1.196000,72.644997,1.0,45.90,NaN,Se,1AQC,H
169,2342,MSE,51.757000,20.135000,42.220001,1.0,63.34,NaN,Se,1AQC,H
186,2359,MSE,49.441002,23.055000,35.548000,1.0,68.24,NaN,Se,1AQC,H
203,2537,MSE,38.382999,38.240002,41.284000,1.0,69.99,NaN,Se,1AQC,H
220,2984,MSE,27.614000,22.974001,52.863998,1.0,58.69,NaN,Se,1AQC,H
237,3001,MSE,29.849001,20.108999,50.287998,1.0,69.81,NaN,Se,1AQC,H
254,3318,MSE,41.124001,18.337000,42.277000,1.0,50.82,NaN,Se,1AQC,H
271,3435,MSE,37.092999,14.358000,38.387001,1.0,77.62,NaN,Se,1AQC,H

In [53]:
df_pocket[df_pocket.element == 'Se']

,atom_number,x,y,z,molecule_name,PDB_ID,atom_kind,element,b_factor
54195,89,50.409,8.500,61.923,MSE,1AQC,H,Se,46.62
54204,256,46.090,2.569,69.965,MSE,1AQC,H,Se,38.60
54213,334,44.389,-1.196,72.645,MSE,1AQC,H,Se,45.90
379063,447,18.619,40.313,72.131,MSE,1G9R,H,Se,22.45
379072,564,29.089,55.242,67.799,MSE,1G9R,H,Se,17.68
...,...,...,...,...,...,...,...,...,...
10551120,526,-11.874,5.252,21.891,MSE,6OHT,H,Se,104.92
10693443,264,1.087,10.874,96.370,MSE,6QHG,H,Se,17.95
10718248,344,13.182,-3.089,-4.643,MSE,6QSZ,H,Se,61.87
10718731,318,13.612,31.731,12.386,MSE,6QTM,H,Se,88.73
10766142,14,20.332,-86.727,56.370,9JT,6RRM,L,Se,NaN

In [54]:
df_bind[df_bind.PDB_ID == '1AQC']

,atom_number,molecule_name,x,y,z,occupancy,b_factor,blank_4,element,PDB_ID,atom_kind
0,1,MSE,74.816002,12.097,84.319000,1.0,57.41,NaN,N,1AQC,H
1,2,MSE,75.637001,12.731,84.389999,1.0,0.00,NaN,H,1AQC,H
2,3,MSE,74.142998,12.313,85.082001,1.0,0.00,NaN,H,1AQC,H
3,4,MSE,75.130997,11.109,84.401001,1.0,0.00,NaN,H,1AQC,H
4,5,MSE,74.149002,12.296,83.000000,1.0,39.89,NaN,C,1AQC,H
...,...,...,...,...,...,...,...,...,...,...,...
3694,3971,PRO,48.679001,-5.722,51.608002,1.0,54.24,,C,1AQC,P
3695,3972,PRO,49.794998,-5.198,51.366001,1.0,48.81,,O,1AQC,P
3696,3973,PRO,46.542000,-4.646,50.811001,1.0,39.91,,C,1AQC,P
3697,3974,PRO,45.817001,-4.616,49.998001,1.0,0.00,,H,1AQC,P
3698,3975,PRO,46.033001,-4.886,51.744999,1.0,0.00,,H,1AQC,P

In [50]:
dfbs

,atom_number,molecule_name,x,y,z,occupancy,b_factor,blank_4,element,PDB_ID,atom_kind
0,1,ALA,29.344000,29.764000,30.598000,1.0,34.75,,,1NZL,P
1,2,ALA,29.027000,30.322001,31.389999,1.0,0.00,,,1NZL,P
2,3,ALA,30.330999,29.951000,30.423000,1.0,0.00,,,1NZL,P
3,4,ALA,28.799000,30.006001,29.770000,1.0,0.00,,,1NZL,P
4,5,ALA,29.160999,28.319000,30.906000,1.0,31.80,,,1NZL,P
...,...,...,...,...,...,...,...,...,...,...,...
1581,1582,THR,20.806999,13.769000,24.992001,1.0,37.31,,,1NZL,P
1582,1583,THR,20.063999,14.475000,25.363001,1.0,0.00,,,1NZL,P
1583,1584,THR,20.316000,13.008000,24.385000,1.0,0.00,,,1NZL,P
1584,1585,THR,21.311001,13.295000,25.834000,1.0,0.00,,,1NZL,P
1585,1586,THR,23.261000,16.947001,23.165001,1.0,37.49,,,1NZL,P

In [51]:
dfps

,atom_number,x,y,z,molecule_name,PDB_ID,atom_kind,element,b_factor
810940,1,18.016,28.824,4.476,PRO,1NZL,L,N,NaN
810941,2,19.450,29.067,4.546,PRO,1NZL,L,C,NaN
810942,3,19.588,30.466,5.137,PRO,1NZL,L,C,NaN
810943,4,20.579,31.161,4.889,PRO,1NZL,L,O,NaN
810944,5,19.923,29.022,3.120,PRO,1NZL,L,C,NaN
...,...,...,...,...,...,...,...,...,...
811531,452,9.934,31.454,23.809,HIS,1NZL,P,C,12.22
811532,453,10.547,31.179,25.012,HIS,1NZL,P,N,14.07
811533,454,8.636,31.101,23.960,HIS,1NZL,P,C,12.78
811534,455,9.660,30.676,25.852,HIS,1NZL,P,C,12.38
811535,456,8.492,30.618,25.239,HIS,1NZL,P,N,11.66

In [44]:
dfps = dfps[dfps.atom_kind != 'L']

In [29]:
dfps = dfps.astype({'x': 'float32', 'y': 'float32', 'z': 'float32'})

In [45]:
dfbs[dfbs.atom_number.isin(set(dfps.atom_number))]

,atom_number,molecule_name,x,y,z,occupancy,b_factor,blank_4,element,PDB_ID,atom_kind
0,1,PRO,31.242001,3.064,39.284000,1.0,39.90,,N,10GS,P
1,2,PRO,31.195000,2.392,37.963001,1.0,31.96,,C,10GS,P
2,3,PRO,32.081001,2.579,37.356998,1.0,0.00,,H,10GS,P
3,4,PRO,29.975000,2.923,37.196999,1.0,30.23,,C,10GS,P
4,5,PRO,29.726999,4.132,37.181000,1.0,27.03,,O,10GS,P
...,...,...,...,...,...,...,...,...,...,...,...
519,520,THR,9.880000,1.041,39.514999,1.0,0.00,,H,10GS,P
520,521,THR,8.429000,0.298,38.090000,1.0,36.01,,C,10GS,P
521,522,THR,8.610000,-0.373,37.250000,1.0,0.00,,H,10GS,P
522,523,THR,7.491000,1.426,37.668999,1.0,38.72,,C,10GS,P
523,524,THR,7.734000,2.591,37.983002,1.0,41.66,,O,10GS,P

In [46]:
dfps.shape

(524, 9)

In [38]:
set(dfps.atom_number) - set(dfbs.atom_number)

set()

In [41]:
dfps[dfps.atom_number == 35]

,atom_number,x,y,z,molecule_name,PDB_ID,atom_kind,element,b_factor
58,35,14.9824,10.1951,22.746099,VWW,10GS,L,H,NaN
117,35,12.7290,-2.3110,31.187000,VAL,10GS,P,H,0.0

In [40]:
dfps.atom_number.value_counts()

35     2
40     2
38     2
37     2
36     2
      ..
187    1
186    1
185    1
184    1
500    1
Name: atom_number, Length: 524, dtype: int64

In [39]:
dfps.shape

(583, 9)

In [47]:
set(dfps.x).issubset(set(dfbs.x))

True

In [35]:
set(dfbs.x)

{0.1589999943971634,
 -0.15399999916553497,
 2.9730000495910645,
 3.874000072479248,
 4.304999828338623,
 5.859000205993652,
 5.802000045776367,
 6.322000026702881,
 7.063000202178955,
 8.845999717712402,
 8.791000366210938,
 10.15999984741211,
 11.22700023651123,
 12.295999526977539,
 13.968999862670898,
 14.836000442504883,
 15.392000198364258,
 16.856000900268555,
 17.993999481201172,
 18.263999938964844,
 19.222000122070312,
 18.983999252319336,
 15.654000282287598,
 20.867000579833984,
 15.89799976348877,
 24.86400032043457,
 26.083999633789062,
 20.408000946044922,
 20.742000579833984,
 27.48200035095215,
 27.847999572753906,
 22.334999084472656,
 31.989999771118164,
 32.50199890136719,
 32.290000915527344,
 34.310001373291016,
 35.055999755859375,
 31.718000411987305,
 37.23500061035156,
 32.51300048828125,
 33.50400161743164,
 33.76900100708008,
 36.569000244140625,
 35.196998596191406,
 8.527000427246094,
 37.25699996948242,
 9.527999877929688,
 9.850000381469727,
 9.668000221252441,
 8.600000381469727,
 41.58399963378906,
 10.029000282287598,
 10.392999649047852,
 10.770000457763672,
 10.744000434875488,
 10.741999626159668,
 11.923999786376953,
 11.074000358581543,
 11.583999633789062,
 11.027999877929688,
 11.045999526977539,
 12.692000389099121,
 12.852999687194824,
 12.013999938964844,
 12.675000190734863,
 12.795999526977539,
 13.779000282287598,
 13.104999542236328,
 13.454000473022461,
 13.508000373840332,
 12.711999893188477,
 14.961999893188477,
 13.711999893188477,
 14.79699993133545,
 14.067000389099121,
 14.17199993133545,
 15.543000221252441,
 15.345000267028809,
 15.170000076293945,
 15.755999565124512,
 15.496000289916992,
 16.966999053955078,
 16.51799964904785,
 16.47100067138672,
 16.02899932861328,
 16.415000915527344,
 17.11400032043457,
 17.155000686645508,
 17.858999252319336,
 17.899999618530273,
 17.243999481201172,
 18.410999298095703,
 18.954999923706055,
 18.267000198364258,
 18.006000518798828,
 18.084999084472656,
 19.312000274658203,
 19.367000579833984,
 19.426000595092773,
 19.81399917602539,
 19.812999725341797,
 20.014999389648438,
 20.011999130249023,
 20.516000747680664,
 19.518999099731445,
 19.156999588012695,
 21.966999053955078,
 21.68000030517578,
 21.360000610351562,
 21.402999877929688,
 21.023000717163086,
 22.634000778198242,
 21.184999465942383,
 22.759000778198242,
 21.584999084472656,
 22.71299934387207,
 23.56999969482422,
 23.22800064086914,
 23.94300079345703,
 23.867000579833984,
 23.635000228881836,
 23.552000045776367,
 24.361000061035156,
 24.28700065612793,
 23.336999893188477,
 23.374000549316406,
 24.097000122070312,
 25.683000564575195,
 25.83099937438965,
 24.138999938964844,
 25.0939998626709,
 25.988000869750977,
 5.316999912261963,
 5.35099983215332,
 26.051000595092773,
 5.039999961853027,
 26.94700050354004,
 27.32200050354004,
 27.422000885009766,
 27.933000564575195,
 26.711000442504883,
 28.072999954223633,
 28.410999298095703,
 28.840999603271484,
 28.871000289916992,
 28.01099967956543,
 29.444000244140625,
 29.975000381469727,
 29.726999282836914,
 29.215999603271484,
 29.18899917602539,
 30.457000732421875,
 30.513999938964844,
 30.275999069213867,
 30.410999298095703,
 30.82900047302246,
 31.41900062561035,
 31.22100067138672,
 31.242000579833984,
 31.19499969482422,
 31.062999725341797,
 31.68000030517578,
 32.875999450683594,
 32.082000732421875,
 32.270999908447266,
 32.08100128173828,
 32.0359992980957,
 33.33000183105469,
 33.90700149536133,
 33.452999114990234,
 32.803001403808594,
 32.9010009765625,
 34.577999114990234,
 34.80799865722656,
 33.02000045776367,
 33.72800064086914,
 33.566001892089844,
 35.92599868774414,
 35.9010009765625,
 34.59199905395508,
 34.99399948120117,
 7.0370001792907715,
 36.47100067138672,
 36.42300033569336,
 7.830999851226807,
 35.91400146484375,
 7.491000175476074,
 37.56399917602539,
 7.734000205993652,
 7.769999980926514,
 7.448999881744385,
 37.124000549316406,
 38.124000549316406,
 37.13600158691406,
 37.356998443603516,
 38.069000244140625,
 38.36199951171875,
 38.00400161743164,
 39.79600143432617,
 39.500999450683594,
 39.81999969482422,
 38.479000091552734,
 40.02000045776367,
 40.21200180053711,
 40.59600067138672,
 40.20899963378906,
 8.484000205993652,
 8.232000350952148,
 8.746999740600586,
 8.767000198364258,
 8.826000213623047,
 8.428999900817871,
 8.609999656677246,
 8.277999877929688,
 8.715999603271484,
 8.232999801635742,
 41.284000396728516,
 42.39699935913086,
 42.22200012207031,
 42.10200119018555,
 9.871000289916992,
 9.654999732971191,
 9.385000228881836,
 9.305999755859375,
 9.64900016784668,
 9.380000114440918,
 9.723999977111816,
 9.090999603271484,
 9.147000312805176,
 9.60099983215332,
 21.941999435424805,
 10.343999862670898,
 10.680000305175781,
 10.336999893188477,
 10.607000350952148,
 10.777000427246094,
 10.954999923706055,
 10.710000038146973,
 10.312000274658203,
 10.619999885559082,
 10.906000137329102,
 24.490999221801758,
 11.821000099182129,
 11.493000030517578,
 11.583000183105469,
 11.869999885559082,
 11.520000457763672,
 11.069000244140625,
 11.217000007629395,
 11.475000381469727,
 11.8100004196167,
 11.527000427246094,
 12.947999954223633,
 12.95199966430664,
 12.34000015258789,
 12.942999839782715,
 12.892999649047852,
 12.909000396728516,
 12.265000343322754,
 12.880999565124512,
 12.125,
 12.729000091552734,
 28.722000122070312,
 17.284000396728516,
 13.157999992370605,
 13.14799976348877,
 13.579000473022461,
 13.109000205993652,
 13.659000396728516,
 13.845999717712402,
 13.180000305175781,
 13.041000366210938,
 13.074000358581543,
 13.29699993133545,
 23.209999084472656,
 23.584999084472656,
 14.795000076293945,
 14.097000122070312,
 14.713000297546387,
 14.86299991607666,
 14.994999885559082,
 14.03600025177002,
 14.322999954223633,
 14.21399974822998,
 14.701000213623047,
 14.73799991607666,
 6.514999866485596,
 15.701000213623047,
 15.951000213623047,
 15.51099967956543,
 15.307000160217285,
 15.053999900817871,
 15.767999649047852,
 15.22599983215332,
 15.954000473022461,
 15.20199966430664,
 15.368000030517578,
 3.4119999408721924,
 16.160999298095703,
 16.591999053955078,
 16.56999969482422,
 16.496000289916992,
 16.195999145507812,
 16.22100067138672,
 16.89699935913086,
 16.156999588012695,
 16.152000427246094,
 10.22599983215332,
 10.920000076293945,
 10.795000076293945,
 10.753999710083008,
 10.72599983215332,
 10.572999954223633,
 17.851999282836914,
 17.405000686645508,
 17.007999420166016,
 17.913000106811523,
 17.048999786376953,
 17.045000076293945,
 17.9060001373291,
 17.900999069213867,
 17.45199966430664,
 17.469999313354492,
 18.065000534057617,
 18.038999557495117,
 18.920000076293945,
 18.107999801635742,
 18.594999313354492,
 18.827999114990234,
 18.367000579833984,
 18.05900001525879,
 18.961000442504883,
 18.43199920654297,
 26.65999984741211,
 19.6299991607666,
 19.2810001373291,
 19.1560001373291,
 19.617000579833984,
 19.488000869750977,
 19.475000381469727,
 19.14699935913086,
 19.82699966430664,
 19.354000091552734,
 19.365999221801758,
 15.972000122070312,
 20.871999740600586,
 20.05699920654297,
 20.575000762939453,
 20.687999725341797,
 20.049999237060547,
 20.635000228881836,
 20.46299934387207,
 20.113000869750977,
 20.642000198364258,
 20.483999252319336,
 30.516000747680664,
 4.360000133514404,
 21.027999877929688,
 21.902999877929688,
 21.777999877929688,
 21.128999710083008,
 21.673999786376953,
 21.735000610351562,
 21.041000366210938,
 21.56399917602539,
 21.95199966430664,
 22.606000900268555,
 22.579999923706055,
 22.589000701904297,
 22.972000122070312,
 22.663000106811523,
 22.54199981689453,
 22.46299934387207,
 22.524999618530273,
 22.716999053955078,
 22.804000854492188,
 23.861000061035156,
 23.709999084472656,
 23.611000061035156,
 23.084999084472656,
 23.42099952697754,
 23.04599952697754,
 23.44700050354004,
 23.67099952697754,
 23.17099952697754,
 23.781999588012695,
 3.2769999504089355,
 24.07699966430664,
 24.32699966430664,
 24.85300064086914,
 24.136999130249023,
 24.386999130249023,
 24.72800064086914,
 24.43899917602539,
 24.399999618530273,
 24.125,
 24.733999252319336,
 18.297000885009766,
 25.732999801635742,
 25.384000778198242,
 25.128999710083008,
 25.405000686645508,
 25.334999084472656,
 25.273000717163086,
 25.530000686645508,
 25.566999435424805,
 25.902999877929688,
 25.583999633789062,
 7.890999794006348,
 7.460000038146973,
 7.765999794006348,
 7.335000038146973,
 7.015999794006348,
 24.097999572753906,
 26.638999938964844,
 5.883999824523926,
 26.28499984741211,
 26.68600082397461,
 26.15999984741211,
 26.56100082397461,
 26.79400062561035,
 26.628999710083008,
 26.2189998626709,
 26.374000549316406,
 16.24799919128418,
 16.37299919128418,
 27.104999542236328,
 27.06599998474121,
 27.02899932861328,
 27.663000106811523,
 27.159000396728516,
 27.034000396728516,
 27.743000030517578,
 27.05500030517578,
 27.584999084472656,
 27.274999618530273,
 28.57900047302246,
 28.45400047302246,
 31.29199981689453,
 28.847000122070312,
 28.472000122070312,
 28.445999145507812,
 28.531999588012695,
 28.281999588012695,
 28.406999588012695,
 28.558000564575195,
 28.868000030517578,
 28.118000030517578,
 28.82900047302246,
 15.770000457763672,
 15.937999725341797,
 15.229000091552734,
 15.854000091552734,
 15.270000457763672,
 15.062999725341797,
 15.437999725341797,
 23.066999435424805,
 23.441999435424805,
 29.49799919128418,
 29.39900016784668,
 29.631000518798828,
 29.027000427246094,
 29.673999786376953,
 29.409000396728516,
 29.10099983215332,
 29.235000610351562,
 29.423999786376953,
 29.31800079345703,
 30.3700008392334,
 30.8700008392334,
 30.68000030517578,
 30.27899932861328,
 30.15399932861328,
 30.141000747680664,
 30.822999954223633,
 30.049999237060547,
 30.312999725341797,
 30.575000762939453,
 27.92300033569336,
 6.709000110626221,
 6.250999927520752,
 6.695000171661377,
 1.8170000314712524,
 31.70599937438965,
 1.6089999675750732,
 31.19300079345703,
 1.3880000114440918,
 6.627999782562256,
 6.068999767303467,
 32.45600128173828,
 32.55500030517578,
 32.70600128173828,
 32.10200119018555,
 32.95100021362305,
 32.64899826049805,
 32.07600021362305,
 32.832000732421875,
 32.680999755859375,
 32.89699935913086,
 11.847999572753906,
 33.573001861572266,
 33.395999908447266,
 33.020999908447266,
 33.02799987792969,
 33.65299987792969,
 33.81800079345703,
 33.66699981689453,
 33.91699981689453,
 33.8390007019043,
 33.25,
 31.628999710083008,
 31.155000686645508,
 31.98900032043457,
 31.71299934387207,
 34.27000045776367,
 34.356998443603516,
 34.034000396728516,
 34.77899932861328,
 34.65399932861328,
 34.20500183105469,
 34.340999603271484,
 34.007999420166016,
 34.952999114990234,
 34.814998626708984,
 21.70599937438965,
 21.18600082397461,
 21.2549991607666,
 21.992000579833984,
 21.5939998626709,
 21.052000045776367,
 21.177000045776367,
 21.650999069213867,
 21.200000762939453,
 18.66699981689453,
 35.1510009765625,
 35.380001068115234,
 35.229000091552734,
 35.74399948120117,
 35.077999114990234,
 35.0989990234375,
 35.14799880981445,
 35.441001892089844,
 35.37300109863281,
 35.31100082397461,
 7.119999885559082,
 7.619999885559082,
 7.296000003814697,
 7.699999809265137,
 7.438000202178955,
 36.41899871826172,
 36.59600067138672,
 36.74700164794922,
 36.393001556396484,
 7.948999881744385,
 36.28099822998047,
 36.279998779296875,
 36.01900100708008,
 36.465999603271484,
 36.415000915527344,
 37.48899841308594,
 37.35900115966797,
 37.505001068115234,
 37.862998962402344,
 37.27299880981445,
 37.362998962402344,
 37.79999923706055,
 37.64899826049805,
 37.016998291015625,
 37.10200119018555,
 12.588000297546387,
 12.338000297546387,
 12.616000175476074,
 12.199999809265137,
 25.236000061035156,
 38.375,
 38.83000183105469,
 38.52000045776367,
 38.54999923706055,
 38.39099884033203,
 38.797000885009766,
 38.73899841308594,
 38.05400085449219,
 38.18899917602539,
 38.65700149536133,
 17.13599967956543,
 10.623000144958496,
 39.70500183105469,
 39.3650016784668,
 39.65299987792969,
 39.47700119018555,
 39.27199935913086,
 39.20100021362305,
 39.483001708984375,
 39.23400115966797,
 39.827999114990234,
 39.608001708984375,
 40.529998779296875,
 40.85499954223633,
 40.96799850463867,
 40.301998138427734,
 40.47800064086914,
 40.165000915527344,
 40.59199905395508,
 40.72700119018555,
 40.06100082397461,
 40.893001556396484,
 20.73200035095215,
 20.274999618530273,
 20.148000717163086,
 21.242000579833984,
 21.367000579833984,
 24.329999923706055,
 8.873000144958496,
 8.36400032043457,
 8.96500015258789,
 8.614999771118164,
 8.527999877929688,
 8.1899995803833,
 8.263999938964844,
 8.859000205993652,
 8.637999534606934,
 8.027999877929688,
 41.63999938964844,
 41.422000885009766,
 41.60200119018555,
 41.55500030517578,
 16.604999542236328,
 5.166999816894531,
 28.43600082397461,
 34.39899826049805,
 26.886999130249023,
 9.184000015258789,
 9.258000373840332,
 9.968999862670898,
 9.550000190734863,
 9.220999717712402,
 9.63599967956543,
 9.713000297546387,
 9.880000114440918,
 9.62600040435791,
 9.015000343322754,
 30.993000030517578,
 9.545999526977539,
 9.739999771118164,
 9.031000137329102,
 9.753000259399414,
 9.017999649047852,
 9.295999526977539,
 26.249000549316406,
 18.52400016784668,
 10.774999618530273,
 10.899999618530273,
 10.753000259399414,
 10.440999984741211,
 10.892000198364258,
 10.461999893188477,
 10.010000228881836,
 10.454000473022461,
 10.706000328063965,
 10.611000061035156,
 25.042999267578125,
 25.63800048828125,
 25.889999389648438,
 25.667999267578125,
 25.417999267578125,
 25.264999389648438,
 25.195999145507812,
 25.695999145507812,
 25.570999145507812,
 25.833999633789062,
 28.930999755859375,
 34.37300109863281,
 20.95599937438965,
 20.58099937438965,
 6.946000099182129,
 11.460000038146973,
 11.180999755859375,
 2.38700008392334,
 2.7899999618530273,
 2.4079999923706055,
 11.767000198364258,
 2.2730000019073486,
 11.871000289916992,
 2.7279999256134033,
 2.811000108718872,
 24.312000274658203,
 27.899999618530273,
 16.711999893188477,
 14.895999908447266,
 14.770999908447266,
 14.923999786376953,
 14.534000396728516,
 14.32699966430664,
 14.562000274658203,
 14.520999908447266,
 14.673999786376953,
 14.284000396728516,
 14.159000396728516,
 23.5310001373291,
 18.893999099731445,
 11.505999565124512,
 12.20300006866455,
 12.387999534606934,
 12.069000244140625,
 12.723999977111816,
 12.003999710083008,
 12.619999885559082,
 12.262999534606934,
 12.0600004196167,
 12.088000297546387,
 12.401000022888184,
 19.41200065612793,
 19.03700065612793,
 25.46299934387207,
 25.21299934387207,
 30.503000259399414,
 30.89299964904785,
 30.30900001525879,
 30.2810001373291,
 30.003000259399414,
 30.266000747680664,
 30.4060001373291,
 30.726999282836914,
 30.17099952697754,
 30.94700050354004,
 3.1110000610351562,
 18.256000518798828,
 13.312000274658203,
 13.460000038146973,
 13.902000427246094,
 13.734000205993652,
 13.263999938964844,
 13.59000015258789,
 13.241999626159668,
 13.5600004196167,
 13.588000297546387,
 13.762999534606934,
 7.627999782562256,
 24.05699920654297,
 7.099999904632568,
 11.46399974822998,
 11.907999992370605,
 11.991999626159668,
 28.538000106811523,
 17.600000381469727,
 20.562999725341797,
 23.525999069213867,
 19.14900016784668,
 19.469999313354492,
 19.871000289916992,
 19.884000778198242,
 19.565000534057617,
 19.440000534057617,
 19.74799919128418,
 19.39900016784668,
 14.77299976348877,
 14.190999984741211,
 14.690999984741211,
 14.298999786376953,
 14.699000358581543,
 14.522000312805176,
 14.560999870300293,
 14.918999671936035,
 14.911999702453613,
 14.152000427246094,
 16.819000244140625,
 19.406999588012695,
 26.97599983215332,
 4.959000110626221,
 4.986999988555908,
 4.056000232696533,
 15.555999755859375,
 15.678999900817871,
 15.680000305175781,
 15.067000389099121,
 15.055000305175781,
 15.805000305175781,
 15.406999588012695,
 15.338000297546387,
 15.743000030517578,
 15.829000473022461,
 18.125999450683594,
 8.531999588012695,
 8.85099983215332,
 8.48900032043457,
 8.86400032043457,
 8.892000198364258,
 36.91999816894531,
 36.79499816894531,
 17.719999313354492,
 10.831999778747559,
 16.339000701904297,
 16.964000701904297,
 3.124000072479248,
 16.920000076293945,
 16.518999099731445,
 16.878000259399414,
 16.322999954223633,
 16.631000518798828,
 16.72800064086914,
 16.47800064086914,
 18.988000869750977,
 21.076000213623047,
 24.790000915527344,
 24.30699920654297,
 24.91699981689453,
 24.584999084472656,
 24.652000427246094,
 24.777000427246094,
 24.236000061035156,
 24.56999969482422,
 24.72100067138672,
 33.694000244140625,
 28.020000457763672,
 17.527000427246094,
 17.674999237060547,
 17.76099967956543,
 17.88599967956543,
 17.01099967956543,
 17.472000122070312,
 17.656999588012695,
 17.368000030517578,
 17.243000030517578,
 17.05299949645996,
 5.11299991607666,
 5.515999794006348,
 16.676000595092773,
 13.631999969482422,
 13.687999725341797,
 13.437999725341797,
 13.229000091552734,
 13.604000091552734,
 13.006999969482422,
 13.520000457763672,
 13.28499984741211,
 13.951000213623047,
 18.684999465942383,
 18.059999465942383,
 18.336000442504883,
 18.645999908447266,
 18.10700035095215,
 18.04199981689453,
 18.687999725341797,
 18.062999725341797,
 18.839000701904297,
 18.74799919128418,
 32.525001525878906,
 33.93899917602539,
 33.43899917602539,
 25.802000045776367,
 28.264999389648438,
 29.753999710083008,
 29.87700080871582,
 29.183000564575195,
 29.23900032043457,
 29.33799934387207,
 29.961000442504883,
 29.197999954223633,
 29.822999954223633,
 29.656999588012695,
 29.00200080871582,
 17.57699966430664,
 10.814000129699707,
 11.972000122070312,
 11.529999732971191,
 11.288000106811523,
 11.0649995803833,
 11.59000015258789,
 11.85099983215332,
 11.717000007629395,
 11.185999870300293,
 11.845000267028809,
 11.616000175476074,
 19.756000518798828,
 19.083999633789062,
 19.118999481201172,
 19.23900032043457,
 19.400999069213867,
 19.177000045776367,
 19.628000259399414,
 19.38800048828125,
 19.947999954223633,
 19.007999420166016,
 6.15500020980835,
 6.113999843597412,
 6.308000087738037,
 6.53000020980835,
 21.558000564575195,
 21.183000564575195,
 16.17099952697754,
 10.949999809265137,
 10.574999809265137,
 10.130999565124512,
 10.9350004196167,
 10.4350004196167,
 10.54699993133545,
 23.739999771118164,
 23.864999771118164,
 23.364999771118164,
 20.826000213623047,
 20.924999237060547,
 20.66900062561035,
 20.64299964904785,
 20.604000091552734,
 20.229000091552734,
 20.288999557495117,
 20.875,
 20.83799934387207,
 20.219999313354492,
 18.426000595092773,
 27.22100067138672,
 27.84600067138672,
 1.319000005722046,
 3.500999927520752,
 26.440000534057617,
 26.065000534057617,
 21.420000076293945,
 21.606000900268555,
 21.43600082397461,
 21.408000946044922,
 21.35300064086914,
 21.892000198364258,
 21.746999740600586,
 21.483999252319336,
 21.010000228881836,
 21.499000549316406,
 29.277999877929688,
 18.34000015258789,
 7.211999893188477,
 28.246999740600586,
 31.834999084472656,
 31.334999084472656,
 15.258999824523926,
 15.383999824523926,
 15.133999824523926,
 15.95300006866455,
 15.605999946594238,
 15.161999702453613,
 15.57800006866455,
 15.508999824523926,
 13.133999824523926,
 22.694000244140625,
 22.1560001373291,
 22.58300018310547,
 22.45800018310547,
 22.41900062561035,
 22.54400062561035,
 22.827999114990234,
 22.104000091552734,
 22.952999114990234,
 22.479000091552734,
 21.165000915527344,
 21.665000915527344,
 21.040000915527344,
 27.840999603271484,
 0.25699999928474426,
 23.792999267578125,
 23.208999633789062,
 23.360000610351562,
 23.833999633789062,
 23.180999755859375,
 23.014999389648438,
 23.416000366210938,
 23.25,
 23.375,
 23.625,
 20.009000778198242,
 20.759000778198242,
 23.472000122070312,
 23.797000885009766,
 23.812999725341797,
 23.367000579833984,
 23.483999252319336,
 23.292999267578125,
 23.566999435424805,
 23.591999053955078,
 23.038999557495117,

In [33]:
set(dfps.x)

{0.22499999403953552,
 0.6819999814033508,
 0.796999990940094,
 0.9430000185966492,
 1.277999997138977,
 1.2920000553131104,
 1.3880000114440918,
 1.6089999675750732,
 1.6629999876022339,
 2.132999897003174,
 2.3540000915527344,
 2.38100004196167,
 2.390000104904175,
 2.4110000133514404,
 2.4560000896453857,
 2.690000057220459,
 2.7780001163482666,
 2.806999921798706,
 2.868000030517578,
 3.056999921798706,
 3.25,
 3.2999000549316406,
 3.3510000705718994,
 3.444999933242798,
 3.4639999866485596,
 3.507999897003174,
 3.5510001182556152,
 3.55430006980896,
 3.6080000400543213,
 3.63100004196167,
 3.6760001182556152,
 3.7219998836517334,
 3.796999931335449,
 3.874000072479248,
 3.888000011444092,
 3.947999954223633,
 4.078000068664551,
 4.197999954223633,
 4.23799991607666,
 4.25,
 4.295000076293945,
 4.302999973297119,
 4.34499979019165,
 4.3520002365112305,
 4.364999771118164,
 4.392000198364258,
 4.4029998779296875,
 4.4770002365112305,
 4.494999885559082,
 4.548999786376953,
 4.677000045776367,
 4.71999979019165,
 4.7220001220703125,
 4.756999969482422,
 4.763000011444092,
 4.8420000076293945,
 4.9019999504089355,
 4.960000038146973,
 4.98799991607666,
 5.050000190734863,
 5.0920000076293945,
 5.214600086212158,
 5.295000076293945,
 5.329999923706055,
 5.363999843597412,
 5.429999828338623,
 5.534999847412109,
 5.611000061035156,
 5.625,
 5.7256999015808105,
 5.802000045776367,
 5.863999843597412,
 5.8902997970581055,
 5.9770002365112305,
 6.025000095367432,
 6.0960001945495605,
 6.140999794006348,
 6.249000072479248,
 6.284999847412109,
 6.322000026702881,
 6.421000003814697,
 6.4670000076293945,
 6.497000217437744,
 6.554999828338623,
 6.572000026702881,
 6.586999893188477,
 6.683000087738037,
 6.789999961853027,
 6.857999801635742,
 6.89300012588501,
 6.916999816894531,
 6.921999931335449,
 6.955999851226807,
 6.964000225067139,
 7.0370001792907715,
 7.116000175476074,
 7.125,
 7.135000228881836,
 7.159999847412109,
 7.204999923706055,
 7.2118000984191895,
 7.224999904632568,
 7.238999843597412,
 7.269999980926514,
 7.276000022888184,
 7.304999828338623,
 7.36899995803833,
 7.409999847412109,
 7.427999973297119,
 7.436999797821045,
 7.448999881744385,
 7.452000141143799,
 7.454999923706055,
 7.491000175476074,
 7.519999980926514,
 7.568999767303467,
 7.5879998207092285,
 7.60699987411499,
 7.619999885559082,
 7.631700038909912,
 7.639999866485596,
 7.64900016784668,
 7.660999774932861,
 7.690000057220459,
 7.734000205993652,
 7.739999771118164,
 7.769999980926514,
 7.818999767303467,
 7.829999923706055,
 7.880000114440918,
 8.024999618530273,
 8.027000427246094,
 8.034000396728516,
 8.086999893188477,
 8.177000045776367,
 8.277999877929688,
 8.312000274658203,
 8.397700309753418,
 8.428000450134277,
 8.428999900817871,
 8.434000015258789,
 8.458000183105469,
 8.460000038146973,
 8.46399974822998,
 8.482999801635742,
 8.508000373840332,
 8.51200008392334,
 8.600000381469727,
 8.637999534606934,
 8.715999603271484,
 8.722999572753906,
 8.774999618530273,
 8.805999755859375,
 8.824000358581543,
 8.859000205993652,
 8.930000305175781,
 8.9350004196167,
 8.996000289916992,
 9.052000045776367,
 9.104000091552734,
 9.121000289916992,
 9.150199890136719,
 9.210000038146973,
 9.305999755859375,
 9.46399974822998,
 9.494000434875488,
 9.550000190734863,
 9.567000389099121,
 9.611000061035156,
 9.64900016784668,
 9.654999732971191,
 9.678000450134277,
 9.713000297546387,
 9.720999717712402,
 9.723999977111816,
 9.729000091552734,
 9.762999534606934,
 9.784700393676758,
 9.786399841308594,
 9.8149995803833,
 9.829999923706055,
 9.831000328063965,
 9.833999633789062,
 9.880000114440918,
 9.947799682617188,
 9.991999626159668,
 10.043000221252441,
 10.08899974822998,
 10.097000122070312,
 10.15999984741211,
 10.246999740600586,
 10.291000366210938,
 10.312000274658203,
 10.336999893188477,
 10.343999862670898,
 10.425999641418457,
 10.466699600219727,
 10.470000267028809,
 10.472000122070312,
 10.472999572753906,
 10.494000434875488,
 10.522000312805176,
 10.54800033569336,
 10.567999839782715,
 10.609000205993652,
 10.612000465393066,
 10.64900016784668,
 10.67300033569336,
 10.680000305175781,
 10.72599983215332,
 10.741999626159668,
 10.748000144958496,
 10.770000457763672,
 10.777000427246094,
 10.788999557495117,
 10.812999725341797,
 10.906000137329102,
 10.942000389099121,
 10.954999923706055,
 10.984000205993652,
 11.027999877929688,
 11.0649995803833,
 11.147000312805176,
 11.210000038146973,
 11.22700023651123,
 11.25,
 11.288000106811523,
 11.289999961853027,
 11.291000366210938,
 11.293000221252441,
 11.3100004196167,
 11.343000411987305,
 11.354000091552734,
 11.359000205993652,
 11.470000267028809,
 11.475000381469727,
 11.487799644470215,
 11.527000427246094,
 11.529999732971191,
 11.541000366210938,
 11.550999641418457,
 11.583999633789062,
 11.585000038146973,
 11.628000259399414,
 11.640000343322754,
 11.67199993133545,
 11.72599983215332,
 11.777000427246094,
 11.8100004196167,
 11.864999771118164,
 11.869999885559082,
 11.956000328063965,
 11.968999862670898,
 12.045000076293945,
 12.079000473022461,
 12.125,
 12.180000305175781,
 12.21500015258789,
 12.253999710083008,
 12.265000343322754,
 12.295999526977539,
 12.374099731445312,
 12.383000373840332,
 12.413000106811523,
 12.428000450134277,
 12.440999984741211,
 12.479000091552734,
 12.487000465393066,
 12.503999710083008,
 12.645999908447266,
 12.680000305175781,
 12.722999572753906,
 12.729000091552734,
 12.821999549865723,
 12.852999687194824,
 12.862799644470215,
 12.909000396728516,
 12.949000358581543,
 12.951000213623047,
 13.01200008392334,
 13.020999908447266,
 13.041000366210938,
 13.074000358581543,
 13.109000205993652,
 13.157999992370605,
 13.180000305175781,
 13.218000411987305,
 13.241999626159668,
 13.253000259399414,
 13.29699993133545,
 13.300000190734863,
 13.309000015258789,
 13.312000274658203,
 13.394000053405762,
 13.437000274658203,
 13.446000099182129,
 13.454000473022461,
 13.460000038146973,
 13.468299865722656,
 13.50100040435791,
 13.508000373840332,
 13.52299976348877,
 13.545999526977539,
 13.558199882507324,
 13.559000015258789,
 13.631999969482422,
 13.635000228881836,
 13.687999725341797,
 13.692000389099121,
 13.717000007629395,
 13.845999717712402,
 13.855999946594238,
 13.866000175476074,
 13.892000198364258,
 13.906000137329102,
 13.916999816894531,
 13.942000389099121,
 13.944000244140625,
 13.968999862670898,
 13.987000465393066,
 14.03600025177002,
 14.067000389099121,
 14.097000122070312,
 14.125,
 14.152000427246094,
 14.170000076293945,
 14.171899795532227,
 14.175000190734863,
 14.175999641418457,
 14.189000129699707,
 14.21399974822998,
 14.246000289916992,
 14.293999671936035,
 14.303999900817871,
 14.3149995803833,
 14.319000244140625,
 14.322999954223633,
 14.35219955444336,
 14.378000259399414,
 14.406000137329102,
 14.435999870300293,
 14.458000183105469,
 14.46500015258789,
 14.583999633789062,
 14.609000205993652,
 14.657999992370605,
 14.694000244140625,
 14.701000213623047,
 14.713000297546387,
 14.73799991607666,
 14.744000434875488,
 14.753999710083008,
 14.77299976348877,
 14.786999702453613,
 14.79699993133545,
 14.805000305175781,
 14.810999870300293,
 14.836000442504883,
 14.895999908447266,
 14.911999702453613,
 14.918999671936035,
 14.942999839782715,
 14.944999694824219,
 14.982399940490723,
 14.993000030517578,
 14.994999885559082,
 15.010000228881836,
 15.045000076293945,
 15.088000297546387,
 15.112000465393066,
 15.14780044555664,
 15.163999557495117,
 15.20199966430664,
 15.22599983215332,
 15.258999824523926,
 15.281000137329102,
 15.371000289916992,
 15.378000259399414,
 15.392000198364258,
 15.484999656677246,
 15.557999610900879,
 15.57800006866455,
 15.598999977111816,
 15.614999771118164,
 15.678999900817871,
 15.807000160217285,
 15.8149995803833,
 15.875,
 15.89799976348877,
 15.904000282287598,
 15.916000366210938,
 15.954000473022461,
 15.982099533081055,
 16.114999771118164,
 16.152000427246094,
 16.195999145507812,
 16.22100067138672,
 16.253999710083008,
 16.32900047302246,
 16.36400032043457,
 16.391000747680664,
 16.415000915527344,
 16.44700050354004,
 16.476999282836914,
 16.520000457763672,
 16.54199981689453,
 16.577999114990234,
 16.58799934387207,
 16.59600067138672,
 16.613000869750977,
 16.645000457763672,
 16.74799919128418,
 16.785999298095703,
 16.82200050354004,
 16.93000030517578,
 16.95800018310547,
 16.969999313354492,
 17.01799964904785,
 17.158000946044922,
 17.166000366210938,
 17.21299934387207,
 17.222000122070312,
 17.368999481201172,
 17.371999740600586,
 17.405000686645508,
 17.424999237060547,
 17.45199966430664,
 17.469999313354492,
 17.538999557495117,
 17.56599998474121,
 17.59600067138672,
 17.599000930786133,
 17.67099952697754,
 17.707000732421875,
 17.740999221801758,
 17.820999145507812,
 17.82699966430664,
 17.861000061035156,
 17.88800048828125,
 17.89900016784668,
 17.91900062561035,
 17.92300033569336,
 17.983999252319336,
 18.107999801635742,
 18.128999710083008,
 18.238000869750977,
 18.256999969482422,
 18.29800033569336,
 18.325000762939453,
 18.336000442504883,
 18.347000122070312,
 18.364999771118164,
 18.402999877929688,
 18.410999298095703,
 18.426000595092773,
 18.43199920654297,
 18.452999114990234,
 18.54800033569336,
 18.55699920654297,
 18.684999465942383,
 18.69700050354004,
 18.725000381469727,
 18.812999725341797,
 18.86400032043457,
 18.865999221801758,
 18.89699935913086,
 18.954999923706055,
 18.961999893188477,
 18.988000869750977,
 19.059999465942383,
 19.115999221801758,
 19.152999877929688,
 19.159000396728516,
 19.207000732421875,
 19.209999084472656,
 19.222000122070312,
 19.270000457763672,
 19.290000915527344,
 19.30900001525879,
 19.312000274658203,
 19.354000091552734,
 19.410999298095703,
 19.461000442504883,
 19.475000381469727,
 19.518999099731445,
 19.548999786376953,
 19.687999725341797,
 19.73200035095215,
 19.861000061035156,
 19.917999267578125,
 19.986000061035156,
 19.989999771118164,
 20.038999557495117,
 20.115999221801758,
 20.152999877929688,
 20.250999450683594,
 20.266000747680664,
 20.274999618530273,
 20.386999130249023,
 20.38800048828125,
 20.429000854492188,
 20.549999237060547,
 20.58799934387207,
 20.599000930786133,
 20.719999313354492,
 21.01099967956543,
 21.049999237060547,
 21.143999099731445,
 21.18600082397461,
 21.25,
 21.2549991607666,
 21.266000747680664,
 21.30299949645996,
 21.40399932861328,
 21.408000946044922,
 21.45800018310547,
 21.49799919128418,
 21.617000579833984,
 21.634000778198242,
 21.64900016784668,
 21.707000732421875,
 21.756999969482422,
 21.812999725341797,
 21.85099983215332,
 21.982999801635742,
 22.099000930786133,
 22.101999282836914,
 22.108999252319336,
 22.142000198364258,
 22.22800064086914,
 22.302000045776367,
 22.31800079345703,
 22.44099998474121,
 22.56999969482422,
 22.672000885009766,
 22.79199981689453,
 22.844999313354492,
 22.95599937438965,
 22.972000122070312,
 23.017000198364258,
 23.05900001525879,
 23.08099937438965,
 23.138999938964844,
 23.20599937438965,
 23.332000732421875,
 23.45400047302246,
 23.628000259399414,
 23.739999771118164,
 23.792999267578125,
 23.833999633789062,
 23.923999786376953,
 24.017000198364258,
 24.163999557495117,
 24.18400001525879,
 24.190000534057617,
 24.243000030517578,
 24.448999404907227,
 24.465999603271484,
 24.597000122070312,
 24.73699951171875,
 24.775999069213867,
 24.822999954223633,
 24.86400032043457,
 24.961000442504883,
 25.009000778198242,
 25.15999984741211,
 25.334999084472656,
 25.71500015258789,
 25.889999389648438,
 26.187999725341797,
 26.865999221801758,
 27.159000396728516,
 28.242000579833984}

In [31]:
dfps.x.dtype

dtype('float32')

In [32]:
dfbs.x.dtype

dtype('float32')

In [23]:
dfps

,atom_number,x,y,z,molecule_name,PDB_ID,atom_kind,element,b_factor
0,501,19.222,10.125,22.641,HOH,10GS,H,O,14.60
1,502,14.836,11.499,17.763,HOH,10GS,H,O,45.60
2,503,12.296,-1.485,21.696,HOH,10GS,H,O,22.48
3,504,15.392,13.020,31.056,HOH,10GS,H,O,15.92
4,505,15.898,12.316,28.420,HOH,10GS,H,O,22.41
...,...,...,...,...,...,...,...,...,...
578,496,8.025,16.044,22.512,LYS,10GS,P,C,36.78
579,497,8.034,16.358,23.964,LYS,10GS,P,N,42.67
580,498,8.806,17.024,24.169,LYS,10GS,P,H,0.00
581,499,7.125,16.787,24.230,LYS,10GS,P,H,0.00
582,500,8.177,15.482,24.506,LYS,10GS,P,H,0.00